/*•	Font: Lemon-Regular / Arial
•	Font size: 24px for the main title, 22px for price of watches, 15px for info of the watches, 15px for the buttons.
•	Watches container width:  900px.
•	Columns width: 220px.
*/

@font-face {
    font-family: 'Lemon-Regular';
    src: url('fonts/Lemon-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lemon-Regular', Arial;
    font-size: 15px;
    background-color: #602C74;
}

main {
    margin: 0 auto;
    text-align: center;
}

section {
    width: 900px;
    margin: 75px auto;
    text-align: center;
    background-color: #FFAE31;
    display: inline-block;
    border-radius: 15px;
}

h1 {
    font-size: 24px;
    text-transform: capitalize;
}

section:after {
    content: '';
    clear: both;
    display: block;
}

article {
    float: left;
    box-sizing: border-box;
    width: 220px;
    margin: 40px;
    background-color: #602C74;
    border-radius: 20px 0 20px 0;

}

h2 {
    font-size: 22px;
    color: #FFFFFF;
}

h3{
    color: #FFAE31;
}


img {
    width: 200px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid #826B73;
    margin: 15px auto 15px auto;
}

p {
    color: #FFFFFF;
}

button {
    width: 200px;
    height: 35px;
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
    color: #826B73;
    font-family: 'Lemon-Regular';
}